[submodule "project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp"]
	path = project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp
	url = https://github.com/extra2000/ros2-helloworld-cpp.git
[submodule "project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python"]
	path = project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python
	url = https://github.com/extra2000/ros2-helloworld-python.git
[submodule "project/third-party/digilent-vivado-library"]
	path = project/third-party/digilent-vivado-library
	url = https://github.com/extra2000/digilent-vivado-library.git
[submodule "project/yocto/layers/poky"]
	path = project/yocto/layers/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "project/yocto/layers/meta-openembedded"]
	path = project/yocto/layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "project/yocto/layers/meta-raspberrypi"]
	path = project/yocto/layers/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
[submodule "project/yocto/layers/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp"]
	path = project/yocto/layers/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp
	url = https://github.com/extra2000/ros2-helloworld-cpp.git
[submodule "project/yocto/layers/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python"]
	path = project/yocto/layers/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python
	url = https://github.com/extra2000/ros2-helloworld-python.git
[submodule "project/petalinux/kr260/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp"]
	path = project/petalinux/kr260/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp
	url = https://github.com/extra2000/ros2-helloworld-cpp.git
[submodule "project/petalinux/kr260/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python"]
	path = project/petalinux/kr260/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python
	url = https://github.com/extra2000/ros2_helloworld_python.git
[submodule "project/yocto/layers/meta-rockchip"]
	path = project/yocto/layers/meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
[submodule "project/yocto/layers/meta-arm"]
	path = project/yocto/layers/meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "project/yocto/layers/meta-ros"]
	path = project/yocto/layers/meta-ros
	url = https://github.com/Xilinx/meta-ros.git
[submodule "project/yocto/layers/meta-security"]
	path = project/yocto/layers/meta-security
	url = https://git.yoctoproject.org/meta-security
[submodule "project/yocto/layers/meta-selinux"]
	path = project/yocto/layers/meta-selinux
	url = https://git.yoctoproject.org/meta-selinux
[submodule "project/yocto/layers/meta-clang"]
	path = project/yocto/layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "project/yocto/layers/meta-user/recipes-apps/datastruct-cpp/files/datastruct-cpp"]
	path = project/yocto/layers/meta-user/recipes-apps/datastruct-cpp/files/datastruct-cpp
	url = https://github.com/extra2000/datastruct-cpp.git
