/.vs

/project/yocto/build/cache
/project/yocto/build/downloads
/project/yocto/build/sstate-cache
/project/yocto/build/tmp
/project/yocto/build/tmp*
/project/yocto/build/*.log
/project/yocto/build/*.lock
/project/yocto/build/sdk-*
/project/yocto/layers/meta-user/recipes-apps/datastruct-cpp/files/build
