[submodule "project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp"]
	path = project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp
	url = https://github.com/extra2000/ros2-helloworld-cpp.git
[submodule "project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python"]
	path = project/petalinux/arty-z7-20/project-spec/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python
	url = https://github.com/extra2000/ros2-helloworld-python.git
[submodule "project/third-party/digilent-vivado-library"]
	path = project/third-party/digilent-vivado-library
	url = https://github.com/extra2000/digilent-vivado-library.git
[submodule "project/yocto/rpizero-w/poky"]
	path = project/yocto/rpizero-w/layers/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "project/yocto/rpizero-w/meta-openembedded"]
	path = project/yocto/rpizero-w/layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "project/yocto/rpizero-w/meta-raspberrypi"]
	path = project/yocto/rpizero-w/layers/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
[submodule "project/yocto/rpizero-w/layers/meta-ros"]
	path = project/yocto/rpizero-w/layers/meta-ros
	url = https://github.com/ros/meta-ros.git
[submodule "project/yocto/rpizero-w/layers/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp"]
	path = project/yocto/rpizero-w/layers/meta-user/recipes-apps/ros2-helloworld-cpp/files/ros2-helloworld-cpp
	url = https://github.com/extra2000/ros2-helloworld-cpp.git
[submodule "project/yocto/rpizero-w/layers/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python"]
	path = project/yocto/rpizero-w/layers/meta-user/recipes-apps/ros2-helloworld-python/files/ros2_helloworld_python
	url = https://github.com/extra2000/ros2-helloworld-python.git
