module mypolicy 1.0;

require {
        type local_login_t;
        type shadow_lock_t;
        type shadow_t;
        type etc_t;
        type systemd_journal_t;
        type syslogd_t;
        class file { create lock open rename setattr unlink write relabelfrom relabelto };
        class dir { add_name remove_name write };
}

#============= local_login_t ==============
allow local_login_t etc_t:dir { add_name remove_name write };
allow local_login_t etc_t:file create;
allow local_login_t shadow_lock_t:file { lock open write };
allow local_login_t shadow_t:file { create rename setattr unlink write };

#============= syslogd_t ==============
allow syslogd_t systemd_journal_t:file { relabelfrom relabelto };
